{% extends "base.html" %}

{% block content %}

<div class = 'col-sm-8 col-sm-offset-2'>
<table class='table'>
<thread>
    <th>Item</th>
    <th>Price</th>
</thread>

<tfoot>

</tfoot>

     {% for cart in object_list %}
        {% for pizza in cart.products.all %}
        <tr><td>{{ pizza.name }}</td><td>{{ pizza.preis }}</td><td><a href='{% url "cart_update" pizza.id %}'>Remove</a></tr>
        {% endfor %}

         <tr>
            <td></td>
            <td>Total: {{ cart.total }} </td>
        </tr>
    {% endfor %}

</table>


</div>
{% endblock content %}